/* Mobile View ***************/

@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Kaushan+Script&display=swap");

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Comfortaa", sans-serif, Helvetica;
  font-weight: bold;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: "Kaushan Script", sans-serif, Helvetica;
}

h3 {
  font-family: "Comfortaa", sans-serif, Helvetica;
}

p {
  margin: 0;
  padding: 0;
}

/* Banner */

#banner {
  display: none;
  background-color: #1f4f70;
  height: 100px;
  position: relative;
}

#close_banner {
  position: absolute;
  background-color: #e48240;
  color: white;
  border: 2px solid #e48240;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  font-weight: bold;
}

#close_banner:hover {
  background-color: black;
  color: white;
  border: 2px solid black;
  font-weight: bold;
}

.banner_content {
  position: relative;
  padding-left: 1.5rem;
  padding-top: 2rem;
  padding-right: 5rem;
}

.banner_content > p {
  color: white;
  text-align: center;
}

.banner_img {
  display: block;
  position: absolute;
  height: 100px;
  top: 5px;
  right: -5px;
}

/* Header*/

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e48240;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div.header_container div section {
  display: flex;
  flex-direction: column;
  justify-items: center;
  font-family: "Kaushan Script", sans-serif, Helvetica;
}

header section h1 {
  margin: 0;
  margin-top: -0.5rem;
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
}

.heading {
  display: flex;
  align-items: center;
}

header picture {
  margin-left: 3vw;
}

.logo {
  width: 5rem;
  margin-left: -0.7rem;
  height: auto;
  border-radius: 50%;
}

.grid_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 30%;
}

.social a {
  text-decoration: none;
}

.social a img {
  width: 1.5rem;
  height: auto;
}

.current_date {
  background-color: #1f4f70;
  display: flex;
  align-items: center;
  margin: 1rem auto;
  margin-top: 0;
  justify-content: center;
  color: white;
  height: 2rem;
  width: 94%;
}

/*Hamburger Menu*/
nav {
  margin-right: 3vw;
  max-width: 760px;
  background-color: #1f4f70;
  /* justify-self: left; */
}
.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation li:first-child {
  display: block;
}
.navigation li {
  display: none;
}
.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: left;
  text-decoration: none;
  color: black;
  font-weight: 700;
  transition: 0.5s;
  font-size: clamp(1rem, 2vmin, 1.5rem);
}

#menu::before {
  content: "≡";
  font-size: 2rem;
}

.navigation a:hover,
navigation a:active {
  color: white;
  background-color: black;
}

.responsive {
  width: 200%;
}
.responsive li {
  display: block;
}

.responsive #menu::before {
  content: "X";
}

/* Main */

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.hero-img {
  margin: 0;
  width: 100%;
  object-fit: cover;
}

.hero > h3 {
  position: absolute;
  color: white;
  top: 3px;
  text-shadow: -2px 2px black;
  text-align: center;
  z-index: 1;
}

.hero-join {
  position: absolute;
  text-decoration: none;
  background-color: #1f4f70;
  color: white;
  border: 1px solid black;
  border-radius: 20%;
  height: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 5px;
  right: 5px;
  box-shadow: 0 0 5px 4px white;
}

.hero-join:hover {
  background-color: black;
  color: white;
}

.event {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.event > h2 {
  text-shadow: -2px 1px 1px white;
  margin-bottom: 0;
  margin-top: 0.3rem;
}

.event > h3 {
  font-style: italic;
  font-weight: bold;
  box-shadow: 0 10px 7px -7px yellow;
  width: 220px;
  margin-bottom: 0;
}

.event > p {
  margin: 1.2rem 0.5rem;
}

.event > a {
  text-decoration: none;
  color: yellow;
  text-shadow: -2px 1px 0 black;
}

.whether {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.whether h2,
.delivery h2,
.fix h2,
.news h2 {
  text-shadow: -2px 1px 1px white;
  margin-bottom: 0.2rem;
}

.whether div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 250px;
}

.whether div:first-child {
  display: flex;
  justify-content: space-evenly;
}

.whether-img {
  width: 50px;
}

.whether > hr {
  background-color: black;
  width: 90%;
}

.whether div:last-child {
  margin-bottom: 0.8rem;
}

.news {
  text-align: center;
}

.news h2 {
  text-shadow: -2px 1px 1px white;
}

.news p {
  margin: 1rem;
}

.delivery,
.fix {
  text-align: center;
}

.delivery-img {
  width: 120px;
}

.delivery p,
.fix > p {
  margin: 0.5rem 0;
}

.fix-img {
  width: 200px;
}

.grid_container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-row-gap: 1rem;
  justify-items: center;
  margin: 1.2rem 3vw;
}

.grid_container > div {
  width: 100%;
  background-color: #e48240;
  height: 200px;
}

.join {
  display: none;
}

.spotlights {
  background-color: #e48240;
  grid-column: 1;
  grid-row: span 2 / 7;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin: 0 3vw;
}

.delivery {
  border: 1px solid black;
  width: 90%;
  height: 191px;
  margin-top: 1rem;
}

.spotlights div:nth-child(2) {
  border: 1px solid black;
  width: 90%;
  height: 191px;
  margin-bottom: 1rem;
}

.spotlights div:nth-child(3) {
  display: none;
}

/* Footer */

footer {
  background-color: #1f4f70;
  color: white;
  padding: 0.5rem 3vw;
  /* margin-top: -50px; */
}

.grid_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer div {
  font-weight: lighter;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.8rem 0;
}

.footer_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: lighter;
}

footer span {
  margin: 0.1rem 0;
}

.footer_title span:first-child {
  margin: 0.1rem 0;
  font-weight: bold;
  font-size: 1rem;
}

hr {
  height: 1px;
  background-color: #e48240;
  border: none;
  width: 95%;
}

footer div:nth-child(3) {
  font-size: 0.8rem;
}

footer div:nth-child(3) span:nth-child(2) {
  font-weight: bold;
  font-size: 1rem;
}

/* Discover */

.discover {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  margin: 1rem 10vw;
}

.discover > picture {
  margin-bottom: 2rem;
  text-align: center;
}

.discover_text {
  text-align: center;
}

.img_discover {
  border: 2px solid black;
  border-radius: 5%;
  width: 250px;
}

.discover_text6 {
  color: #1f4f70;
  margin-bottom: 2rem;
}

.discover_text1 {
  grid-row: 1/2;
}

.discover_text2 {
  grid-row: span 1/4;
}

.discover_text3 {
  grid-row: span 1/6;
}

.discover_text4 {
  grid-row: span 1/8;
}

.discover_text5 {
  grid-row: span 1/10;
}

/*------ join Page -------*/
/*Table*/
table {
  margin: auto;
  border-collapse: collapse;
  border: 1px solid rgb(188, 187, 187);
  /* letter-spacing: 1px; */
  font-size: 0.5rem;
}

tbody tr:nth-child(even) {
  background-color: rgb(213, 213, 213);
}

td {
  border: 1px solid rgb(188, 187, 187);
  padding: 5px 10px;
  font-size: 0.5rem;
}
th {
  padding: 5px 10px;
  /* font-size: larger; */
  font-size: 0.5rem;
}

tr {
  border: 1px solid rgb(188, 187, 187);
}

thead tr:first-child,
thead tr:nth-child(2) {
  border: none;
}
td {
  text-align: center;
}

.header {
  background-color: #1f4f70;
  color: white;
  padding: 20px;
}
.level {
  background-color: #e48240;
}
caption {
  padding: 10px;
  caption-side: bottom;
  font-size: 0.8rem;
}

/* Form*/
form {
  padding: 0 2%;
  min-height: 20rem;
  margin-bottom: 1rem;
  max-width: 480px;
  margin: auto;
  padding: 0.5rem;
}
form fieldset {
  margin: 2rem 0;
  border: 1px solid #e48240;
  border-radius: 10px;
  padding: 0.5rem 0.5rem;
}
form legend {
  margin: 0 1rem;
  padding: 0 0.5rem;
}
form label.top,
form div {
  display: block;
  padding-top: 1.5rem;
  color: black;
  font-size: 1rem;
}
form label.top input {
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0.75rem;
  width: 90%;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.1);
}
form label.sbs {
  display: block;
  padding: 0.75rem 0;
  color: rgb(63, 63, 63);
}
form input.submitBtn {
  display: block;
  border: none;
  background-color: #e48240;
  color: black;
  font-weight: bold;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  margin: auto;
  width: 80%;
  max-width: 300px;
}
form label.top input:required {
  border-left: red solid 6px;
}
form label.top input:required:valid {
  border-left: green solid 6px;
}
.joinpage {
  text-align: center;
}

.comment {
  display: block;
  width: 95%;
  max-width: 400px;
  height: 100px;
}

.thanksmain {
  min-height: 400px;
}
.thankyou {
  max-width: 480px;
  margin: 30px auto;
  border: 1px solid #bbb;
  padding: 2rem;
  /* background-color: #FEFAE0; */
  /* background-color: #52b788; */
  border-radius: 10px;
  display: grid;
  align-items: center;
}

/* Directory Page */

.directory {
  margin: 30px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  grid-gap: 20px;
  grid-row-gap: 30px;
  padding: 2rem;
  font-size: 0.8rem;
  text-align: center;
}
.grid section {
  border: 3px solid #1f4f70;
  border-radius: 2rem;
  box-shadow: 0 0 20px 3px #777;
  padding: 1rem;
}

.menu {
  margin: 1rem auto;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  padding: 0.6rem;
  text-align: center;
}
.menu button {
  padding: 1rem;
  font-weight: 800;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.list section {
  text-align-last: left;
  padding: 1rem;
}

.list section > * {
  margin: 0 1rem;
}

.list section img {
  display: none;
}

.list section:nth-child(even),
.list section:nth-child(even) > a {
  background-color: #1f4f70;
  color: white;
}

.list section:nth-child(odd) {
  background-color: #e48240;
}
